<div>
  {{#each posts}}
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p> {{body}}</p>
    <p> {{created_at}}</p>
  <p>
    Created By: {{User.username}}
    </p>
    <a href="/post/{{id}}" class="btn btn-primary">View Blog</a>
  </div>
</div>
{{/each}}
</div>
